<!-- templates/home.html -->
{% extends '_base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
    <h1>Official Updates</h1>
    <div class="updates">
        {% for alert in alerts %}
            <div class="update">
                <h3>{{ alert.title }}</h3>
                <p><strong>Date:</strong> {{ alert.created_at }}</p>
                <p>{{ alert.description }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
    

