<!-- templates/home.html -->
{% extends '_base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
    <br />
    <br />
    <br />
    <h1>Home Page</h1>
    {% if user.is_authenticated %}
        <p>Hi {{ user.email }}!</p>
        <p>{{user.formal_address }}</p>
        <p>{{user.street_address}}</p>
        <p>{{user.city}}</p>
        <p>{{user.zip_code}}</p>
        <p>{{user.phone_number}}</p>
        {% for profile in user.profile_page.all %}
            <a href="{% url 'profile_page' profile.pk %}">Profile</a>
        {% endfor %}
        <img src={{user.profile_photo.url}}>
    {% else %}
        <p>You are not logged in</p>
    {% endif %}
    <hr>
{% endblock content %}
    

