<!-- templates/navbar.html -->
{% load static %}
{% load user_tags %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
<nav>
    <ul>
        <li><a href="{% url 'home' %}">UnityBridge</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'profile_page' user.id %}"><img src="{{user.profile_photo.url}}" alt="Profile"></a></li>
        <!-- Only Seen By Users in "Responder" Group -->
        {% if request.user|in_group:"Responder"%}
            <li><a href="{% url 'profile_list' %}">Profiles</a></li>
        {% endif %}
        <li><a href="{% url 'account_logout' %}">Log Out</a></li>
        {% else %}
        <li><a href="{% url 'account_login' %}">Login</a></li>
        {% endif %}
    </ul>
</nav>