<!-- templates/navbar.html -->
{% load static %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
<nav>
    <ul>
        <li><a href="{% url 'home' %}">UnityBridge</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'profile' %}"><img src="https://www.reconnectwithnature.org/getmedia/6ae123ba-b242-45c3-b7d6-6906663cfe4b/Double-rainbow-Shutterstock.jpg?width=1500&height=1001&ext=.jpg" alt="Profile"></a></li>
        {% else %}
        <li><a href="{% url 'account_login' %}">Sign Up/Login</a></li>
        {% endif %}
    </ul>
</nav>