<!-- templates/profile_page.html -->
{% extends '_base.html' %}
{% load static %}
{% load user_tags %}

{% block title %}{{ profile.user.get_full_name}}{% endblock title %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/profile_page.css' %}">

    <!-- User Full Name -->
    <h1>{{ profile.user.get_full_name}}</h1>
    <div class="profile_data_li">
        {% if profile.evacuation_status == 'evacuated' %}
            <img src="{% static 'svgs/status_evacuated.svg' %}" alt="Evacuation Status">
        {% else %}
            <img src="{% static 'svgs/status_not_evacuated.svg' %}" alt="Evacuation Status">
        {% endif %}
        <p>Evacuation Status = {{ profile.evacuation_status}}</p>
    </div>
    {% if user == profile.user %}
    <a href="{% url 'profile_edit' profile.id %}">Edit Status</a>
    {% endif %}
    
    <!-- Address -->
    <div class="profile_data_li">
        <img src="{% static 'svgs/address.svg' %}" alt="Address">
        <p>Address: {{profile.user.formal_address}}</p>
    </div>

    <!-- Address -->
    <div class="profile_data_li">
        <img src="{% static 'svgs/phone.svg' %}" alt="Phone Number">
        <p>Phone Number: {{profile.user.phone_number}}</p>
    </div>

    <!-- Email -->
    <div class="profile_data_li">
        <img src="{% static 'svgs/email.svg' %}" alt="Email">
        <p>Email: <a href=''>{{profile.user.email}}</a></p>
    </div>

    <!-- Companions -->
    <div class="profile_data_li">
        <img src="{% static 'svgs/companions.svg' %}" alt="Companions">
        <p>Is anybody else with you?</p>
        <div class="radio_input">
            <label for="companion">Yes</label><br>
            <input type="radio" id="yes" name="companion" value="True" {% if profile.companion_list.all %}checked{% endif %}>
        </div>
        <div class="radio_input">
            <label for="companion">No</label><br>
            <input type="radio" id="no" name="companion" value="False" {% if profile.companion_list.all %}checked{% endif %}>
        </div>
    </div>
    

    <h2>Companions with {{user.get_full_name}}</h2>
    {% if profile.companion_list.all %}
        {% for companion in profile.companion_list.all %}
            <li>{{ companion }} - {{ companion.get_relationship_type_display }}</li>
        {% endfor %}
    {% else %}
        <li>There is no one else here</li>
    {% endif %}

    {% if user == profile.user %}
        <a href="{% url 'companion_create' profile.id %}">Add Companion</a>
    {% else %}
        Not My Profile
    {% endif %}

{% endblock content %}